/* ------------------------------------------------------ {section-5 ------------------------------------------------------ */
.section-5-all-img::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(90, 77, 143, 0.421);
    transition-duration: 1s;
    border-radius: 1rem;
    z-index: -1;
}
.section-5-all-img:hover::after{
    width: 100%;
    height: 100%;
}
.section-5-all-img::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(58, 58, 90, 0.255);
    transition-duration: 1s;
    border-radius: 1rem;
    z-index: -1;
}
.section-5-all-img:hover::before{
    width: 100%;
    height: 100%;
}
/* ------------------------------------------------------ section-5} ------------------------------------------------------ */